@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: calc(100vh - 3.149rem);
  }

.image-home{
  height: calc(100vh - 3.149rem);
}

#subtitle-home{
  background-color: #D0BCA8;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --scrollbar-track-color-dark: #2e4169; /* Color de fondo de la barra de desplazamiento en modo oscuro */
  --scrollbar-thumb-color-dark: #1c273f; /* Color del indicador de la barra de desplazamiento en modo oscuro */
  --scrollbar-track-color-light: #f1f1f1; /* Color de fondo de la barra de desplazamiento en modo claro */
  --scrollbar-thumb-color-light: #888; /* Color del indicador de la barra de desplazamiento en modo claro */
}

/* Estilos para la barra de desplazamiento en Google Chrome */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color-dark); /* Usamos la variable para el color de fondo */
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color-dark); /* Usamos la variable para el color del indicador */
  border-radius: 5px; /* Radio de borde del indicador de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
  background: darken(var(--scrollbar-thumb-color-dark), 10%); /* Cambiamos el color al pasar el cursor */
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative; /* Agregamos position: relative */
  display: flex;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: auto; /* Cambiamos height: 100% a height: auto */
  transition: transform 0.5s ease;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease;
}

.carousel-inner img {
  height: auto;
}

.active {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

html {
  scroll-behavior: smooth;
}

#container_about_image{
  transition: transform 0.5s;
}

/* #container_about_image:hover {
  transform: scale(1.1);
  animation: rotacionInfinita 5s linear infinite;
}

@keyframes rotacionInfinita {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} */